body{
    margin: 0;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
    background: linear-gradient(#000000, #040953);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
#titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }
#paragrafo{
    display: flex;
}